# Import Libraries and Data

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Import Data
covid = pd.read_csv(r"C:\Users\miche\DA_Obesity and COVID19\02 Data\Original Data\02 CDC_COVID Deaths by State_Age.csv")

# Explore Data

In [3]:
covid.shape

(170586, 17)

In [4]:
covid.head()

,Data as of,Start Date,End Date,Group,Year,Month,HHS Region,State,Place of Death,Age group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
0,11/23/2022,01/01/2020,11/19/2022,By Total,NaN,NaN,0,United States,Total - All Places of Death,All Ages,1072276.0,9645917.0,995215.0,542212.0,12920.0,1536345.0,NaN
1,11/23/2022,01/01/2020,11/19/2022,By Total,NaN,NaN,0,United States,Total - All Places of Death,0-17 years,1368.0,99684.0,2079.0,349.0,279.0,3363.0,NaN
2,11/23/2022,01/01/2020,11/19/2022,By Total,NaN,NaN,0,United States,Total - All Places of Death,18-29 years,6682.0,182114.0,6007.0,3076.0,206.0,9799.0,NaN
3,11/23/2022,01/01/2020,11/19/2022,By Total,NaN,NaN,0,United States,Total - All Places of Death,30-39 years,19122.0,271691.0,16004.0,9531.0,416.0,25973.0,NaN
4,11/23/2022,01/01/2020,11/19/2022,By Total,NaN,NaN,0,United States,Total - All Places of Death,40-49 years,44832.0,401949.0,36643.0,23661.0,645.0,58363.0,NaN

In [5]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170586 entries, 0 to 170585
Data columns (total 17 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Data as of                                170586 non-null  object
 1   Start Date                                170586 non-null  object
 2   End Date                                  170586 non-null  object
 3   Group                                     170586 non-null  object
 4   Year                                      166212 non-null  float64
 5   Month                                     153090 non-null  float64
 6   HHS Region                                170586 non-null  int64
 7   State                                     170586 non-null  object
 8   Place of Death                            170586 non-null  object
 9   Age group                                 170586 non-null  object
 10  COVID-19 Deaths                           129992 non-null  float64
 11  Total Deaths                              139846 non-null  float64
 12  Pneumonia Deaths                          125344 non-null  float64
 13  Pneumonia and COVID-19 Deaths             135598 non-null  float64
 14  Influenza Deaths                          153452 non-null  float64
 15  Pneumonia, Influenza, or COVID-19 Deaths  125354 non-null  float64
 16  Footnote                                  102430 non-null  object
dtypes: float64(8), int64(1), object(8)
memory usage: 22.1+ MB

In [6]:
covid.describe()

,Year,Month,HHS Region,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
count,166212.000000,153090.000000,170586.000000,1.299920e+05,1.398460e+05,125344.00000,135598.000000,153452.000000,1.253540e+05
mean,2020.973684,6.342857,5.111111,1.974772e+02,1.662788e+03,190.68166,95.525332,1.780961,2.944153e+02
std,0.810683,3.371682,2.813117,4.857489e+03,3.782581e+04,4718.67604,2585.151283,56.907361,7.034589e+03
min,2020.000000,1.000000,0.000000,0.000000e+00,0.000000e+00,0.00000,0.000000,0.000000,0.000000e+00
25%,2020.000000,3.000000,3.000000,0.000000e+00,0.000000e+00,0.00000,0.000000,0.000000,0.000000e+00
50%,2021.000000,6.000000,5.000000,0.000000e+00,5.200000e+01,0.00000,0.000000,0.000000,0.000000e+00
75%,2022.000000,9.000000,8.000000,1.600000e+01,2.990000e+02,19.00000,0.000000,0.000000,3.300000e+01
max,2022.000000,12.000000,10.000000,1.072276e+06,9.645917e+06,995215.00000,542212.000000,12920.000000,1.536345e+06

In [7]:
covid.columns

Index(['Data as of', 'Start Date', 'End Date', 'Group', 'Year', 'Month',
       'HHS Region', 'State', 'Place of Death', 'Age group', 'COVID-19 Deaths',
       'Total Deaths', 'Pneumonia Deaths', 'Pneumonia and COVID-19 Deaths',
       'Influenza Deaths', 'Pneumonia, Influenza, or COVID-19 Deaths',
       'Footnote'],
      dtype='object')

# Wrangle Data

In [8]:
# Drop Columns
covid=covid.drop(columns=['Data as of','Start Date','End Date','HHS Region','Total Deaths','Pneumonia Deaths','Pneumonia and COVID-19 Deaths','Influenza Deaths','Pneumonia, Influenza, or COVID-19 Deaths','Footnote'])

In [9]:
covid.shape

(170586, 7)

In [10]:
# Rename Columns
covid=covid.rename(columns={'Group':'Group By', 'Age group':'Age Group'})

In [11]:
covid.columns

Index(['Group By', 'Year', 'Month', 'State', 'Place of Death', 'Age Group',
       'COVID-19 Deaths'],
      dtype='object')

# Data Quality Checks

In [12]:
# Check for mixed type data
for col in covid.columns.tolist():
  weird = (covid[[col]].applymap(type) != covid[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (covid[weird]) > 0:
    print (col)

#### No mixed type data.

In [13]:
# Check for missing values
covid.isnull().sum()

Group By               0
Year                4374
Month              17496
State                  0
Place of Death         0
Age Group              0
COVID-19 Deaths    40594
dtype: int64

#### Missing values likely due to suppressed monthly data at the state level and may be addressed after filtering data.

In [14]:
# Find duplicates
covid_dups = covid[covid.duplicated()]
covid_dups

Empty DataFrame
Columns: [Group By, Year, Month, State, Place of Death, Age Group, COVID-19 Deaths]
Index: []

#### No duplicates.

In [15]:
covid['State'].value_counts()

United States           3159
Pennsylvania            3159
Nevada                  3159
New Hampshire           3159
New Jersey              3159
New Mexico              3159
New York                3159
New York City           3159
North Carolina          3159
North Dakota            3159
Ohio                    3159
Oklahoma                3159
Oregon                  3159
Rhode Island            3159
Alabama                 3159
South Carolina          3159
South Dakota            3159
Tennessee               3159
Texas                   3159
Utah                    3159
Vermont                 3159
Virginia                3159
Washington              3159
West Virginia           3159
Wisconsin               3159
Wyoming                 3159
Nebraska                3159
Montana                 3159
Missouri                3159
Mississippi             3159
Alaska                  3159
Arizona                 3159
Arkansas                3159
California              3159
Colorado                3159
Connecticut             3159
Delaware                3159
District of Columbia    3159
Florida                 3159
Georgia                 3159
Hawaii                  3159
Idaho                   3159
Illinois                3159
Indiana                 3159
Iowa                    3159
Kansas                  3159
Kentucky                3159
Louisiana               3159
Maine                   3159
Maryland                3159
Massachusetts           3159
Michigan                3159
Minnesota               3159
Puerto Rico             3159
Name: State, dtype: int64

In [16]:
# Remove PR from State column
covid=covid[covid.State !='Puerto Rico']

In [17]:
# Remove NYC from State column
covid=covid[covid.State !='New York City']

In [18]:
# Filter data to include only Group By: By Year Data
include=['By Year']
covid_group_year=covid.loc[covid['Group By'].isin(include)]
covid_group_year.head(15)

,Group By,Year,Month,State,Place of Death,Age Group,COVID-19 Deaths
4374,By Year,2020.0,NaN,United States,Total - All Places of Death,All Ages,385665.0
4375,By Year,2020.0,NaN,United States,Total - All Places of Death,0-17 years,199.0
4376,By Year,2020.0,NaN,United States,Total - All Places of Death,18-29 years,1489.0
4377,By Year,2020.0,NaN,United States,Total - All Places of Death,30-39 years,4294.0
4378,By Year,2020.0,NaN,United States,Total - All Places of Death,40-49 years,11336.0
4379,By Year,2020.0,NaN,United States,Total - All Places of Death,50-64 years,56802.0
4380,By Year,2020.0,NaN,United States,Total - All Places of Death,65-74 years,82332.0
4381,By Year,2020.0,NaN,United States,Total - All Places of Death,75-84 years,106318.0
4382,By Year,2020.0,NaN,United States,Total - All Places of Death,85 years and over,122895.0
4383,By Year,2020.0,NaN,United States,"Healthcare setting, inpatient",All Ages,244422.0
4384,By Year,2020.0,NaN,United States,"Healthcare setting, inpatient",0-17 years,127.0
4385,By Year,2020.0,NaN,United States,"Healthcare setting, inpatient",18-29 years,1008.0
4386,By Year,2020.0,NaN,United States,"Healthcare setting, inpatient",30-39 years,3044.0
4387,By Year,2020.0,NaN,United States,"Healthcare setting, inpatient",40-49 years,8548.0
4388,By Year,2020.0,NaN,United States,"Healthcare setting, inpatient",50-64 years,44650.0

In [19]:
# Filter data to include only Place of Death: Total - All Places of Death Data
include=['Total - All Places of Death']
covid_place=covid_group_year.loc[covid_group_year['Place of Death'].isin(include)]
covid_place.head(15)

,Group By,Year,Month,State,Place of Death,Age Group,COVID-19 Deaths
4374,By Year,2020.0,NaN,United States,Total - All Places of Death,All Ages,385665.0
4375,By Year,2020.0,NaN,United States,Total - All Places of Death,0-17 years,199.0
4376,By Year,2020.0,NaN,United States,Total - All Places of Death,18-29 years,1489.0
4377,By Year,2020.0,NaN,United States,Total - All Places of Death,30-39 years,4294.0
4378,By Year,2020.0,NaN,United States,Total - All Places of Death,40-49 years,11336.0
4379,By Year,2020.0,NaN,United States,Total - All Places of Death,50-64 years,56802.0
4380,By Year,2020.0,NaN,United States,Total - All Places of Death,65-74 years,82332.0
4381,By Year,2020.0,NaN,United States,Total - All Places of Death,75-84 years,106318.0
4382,By Year,2020.0,NaN,United States,Total - All Places of Death,85 years and over,122895.0
4455,By Year,2021.0,NaN,United States,Total - All Places of Death,All Ages,463195.0
4456,By Year,2021.0,NaN,United States,Total - All Places of Death,0-17 years,609.0
4457,By Year,2021.0,NaN,United States,Total - All Places of Death,18-29 years,3933.0
4458,By Year,2021.0,NaN,United States,Total - All Places of Death,30-39 years,11575.0
4459,By Year,2021.0,NaN,United States,Total - All Places of Death,40-49 years,26213.0
4460,By Year,2021.0,NaN,United States,Total - All Places of Death,50-64 years,103174.0

In [20]:
# Filter data to include only Age group: All Ages
include=['All Ages']
covid_all=covid_place.loc[covid_place['Age Group'].isin(include)]
covid_all.head(15)

,Group By,Year,Month,State,Place of Death,Age Group,COVID-19 Deaths
4374,By Year,2020.0,NaN,United States,Total - All Places of Death,All Ages,385665.0
4455,By Year,2021.0,NaN,United States,Total - All Places of Death,All Ages,463195.0
4536,By Year,2022.0,NaN,United States,Total - All Places of Death,All Ages,223416.0
4617,By Year,2020.0,NaN,Alabama,Total - All Places of Death,All Ages,6706.0
4698,By Year,2021.0,NaN,Alabama,Total - All Places of Death,All Ages,9719.0
4779,By Year,2022.0,NaN,Alabama,Total - All Places of Death,All Ages,3947.0
4860,By Year,2020.0,NaN,Alaska,Total - All Places of Death,All Ages,254.0
4941,By Year,2021.0,NaN,Alaska,Total - All Places of Death,All Ages,839.0
5022,By Year,2022.0,NaN,Alaska,Total - All Places of Death,All Ages,311.0
5103,By Year,2020.0,NaN,Arizona,Total - All Places of Death,All Ages,9321.0
5184,By Year,2021.0,NaN,Arizona,Total - All Places of Death,All Ages,14060.0
5265,By Year,2022.0,NaN,Arizona,Total - All Places of Death,All Ages,5172.0
5346,By Year,2020.0,NaN,Arkansas,Total - All Places of Death,All Ages,4027.0
5427,By Year,2021.0,NaN,Arkansas,Total - All Places of Death,All Ages,5336.0
5508,By Year,2022.0,NaN,Arkansas,Total - All Places of Death,All Ages,2558.0

In [21]:
# Drop Columns no longer needed after filtering
filtered=covid_all.drop(columns=['Month','Place of Death','Age Group'])

# Explore Cleaned Data

In [22]:
filtered.head()

     Group By    Year          State  COVID-19 Deaths
4374  By Year  2020.0  United States         385665.0
4455  By Year  2021.0  United States         463195.0
4536  By Year  2022.0  United States         223416.0
4617  By Year  2020.0        Alabama           6706.0
4698  By Year  2021.0        Alabama           9719.0

In [23]:
filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156 entries, 4374 to 17172
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Group By         156 non-null    object
 1   Year             156 non-null    float64
 2   State            156 non-null    object
 3   COVID-19 Deaths  156 non-null    float64
dtypes: float64(2), object(2)
memory usage: 6.1+ KB

In [24]:
filtered.describe()

              Year  COVID-19 Deaths
count   156.000000       156.000000
mean   2021.000000     13512.935897
std       0.819126     50912.416640
min    2020.000000       145.000000
25%    2020.000000      1645.750000
50%    2021.000000      4694.000000
75%    2022.000000      8828.250000
max    2022.000000    463195.000000

In [25]:
filtered.columns

Index(['Group By', 'Year', 'State', 'COVID-19 Deaths'], dtype='object')

In [26]:
filtered.shape

(156, 4)

# Frequency Counts

In [27]:
filtered['Year'].mode( )

0    2020.0
1    2021.0
2    2022.0
Name: Year, dtype: float64

In [28]:
filtered['COVID-19 Deaths'].mode()

0    308.0
Name: COVID-19 Deaths, dtype: float64

In [29]:
filtered['COVID-19 Deaths'].median()

4694.0

In [30]:
filtered['Year'].value_counts()

2020.0    52
2021.0    52
2022.0    52
Name: Year, dtype: int64

In [31]:
covid['State'].value_counts()

United States           3159
Alabama                 3159
Nebraska                3159
Nevada                  3159
New Hampshire           3159
New Jersey              3159
New Mexico              3159
New York                3159
North Carolina          3159
North Dakota            3159
Ohio                    3159
Oklahoma                3159
Oregon                  3159
Pennsylvania            3159
Rhode Island            3159
South Carolina          3159
South Dakota            3159
Tennessee               3159
Texas                   3159
Utah                    3159
Vermont                 3159
Virginia                3159
Washington              3159
West Virginia           3159
Wisconsin               3159
Montana                 3159
Missouri                3159
Mississippi             3159
Hawaii                  3159
Alaska                  3159
Arizona                 3159
Arkansas                3159
California              3159
Colorado                3159
Connecticut             3159
Delaware                3159
District of Columbia    3159
Florida                 3159
Georgia                 3159
Idaho                   3159
Minnesota               3159
Illinois                3159
Indiana                 3159
Iowa                    3159
Kansas                  3159
Kentucky                3159
Louisiana               3159
Maine                   3159
Maryland                3159
Massachusetts           3159
Michigan                3159
Wyoming                 3159
Name: State, dtype: int64

In [32]:
filtered['State'].value_counts()

United States           3
Alabama                 3
Nebraska                3
Nevada                  3
New Hampshire           3
New Jersey              3
New Mexico              3
New York                3
North Carolina          3
North Dakota            3
Ohio                    3
Oklahoma                3
Oregon                  3
Pennsylvania            3
Rhode Island            3
South Carolina          3
South Dakota            3
Tennessee               3
Texas                   3
Utah                    3
Vermont                 3
Virginia                3
Washington              3
West Virginia           3
Wisconsin               3
Montana                 3
Missouri                3
Mississippi             3
Hawaii                  3
Alaska                  3
Arizona                 3
Arkansas                3
California              3
Colorado                3
Connecticut             3
Delaware                3
District of Columbia    3
Florida                 3
Georgia                 3
Idaho                   3
Minnesota               3
Illinois                3
Indiana                 3
Iowa                    3
Kansas                  3
Kentucky                3
Louisiana               3
Maine                   3
Maryland                3
Massachusetts           3
Michigan                3
Wyoming                 3
Name: State, dtype: int64

In [33]:
covid['Place of Death'].value_counts()

Total - All Places of Death                         18252
Healthcare setting, inpatient                       18252
Healthcare setting, outpatient or emergency room    18252
Healthcare setting, dead on arrival                 18252
Decedent's home                                     18252
Hospice facility                                    18252
Nursing home/long term care facility                18252
Other                                               18252
Place of death unknown                              18252
Name: Place of Death, dtype: int64

In [34]:
covid['Age Group'].value_counts()

All Ages             18252
0-17 years           18252
18-29 years          18252
30-39 years          18252
40-49 years          18252
50-64 years          18252
65-74 years          18252
75-84 years          18252
85 years and over    18252
Name: Age Group, dtype: int64

In [35]:
covid['COVID-19 Deaths'].value_counts()

0.0        86033
10.0        1317
11.0        1220
12.0        1114
13.0         976
           ...
3787.0         1
2446.0         1
15323.0        1
6648.0         1
1041.0         1
Name: COVID-19 Deaths, Length: 3118, dtype: int64

In [36]:
filtered['COVID-19 Deaths'].value_counts()

308.0       2
385665.0    1
3704.0      1
16195.0     1
14799.0     1
           ..
3806.0      1
2180.0      1
4619.0      1
8694.0      1
963.0       1
Name: COVID-19 Deaths, Length: 155, dtype: int64

In [37]:
# Check for missing values
filtered.isnull().sum()

Group By           0
Year               0
State              0
COVID-19 Deaths    0
dtype: int64

# Export Data

In [39]:
# Export Cleaned dataframe
covid.to_csv(r"C:\Users\miche\DA_Obesity and COVID19\02 Data\Prepared Data\02 COVID Deaths_clean.csv")
filtered.to_csv(r"C:\Users\miche\DA_Obesity and COVID19\02 Data\Prepared Data\02 COVID Deaths_FILTERED.csv")

#### Keeping df=covid to be able to manipulate differently later on.